@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Hind Siliguri", serif;
}

/* header start  */
.container {
    width: 90%;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

.header-right a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
}

.header-logo {
    width: 80px;
}

/* header end  */
/* hero start  */
.hero-container {
    display: flex;
    align-items: center;
}

.hero-left {
    width: 100%;
}

.hero-right {
    width: 100%;
}

.hero-image {
    width: 70%;
    display: flex;
    margin: auto;
}

.hero-left h1 {
    font-size: 55px;
}

.hero-left p {
    color: rgb(98, 98, 98);
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.course-button,
.video-button {
    cursor: pointer;
    padding: 12px 27px;
    border-radius: 5px;
    border: none;
    font-family: "Hind Siliguri", serif;
}

.course-button {
    color: white;
    background-color: rgb(51, 123, 151);
}

.video-button {
    color: black;
    background-color: white;
    border: 1px solid skyblue;
}

.course-button:hover {
    background-color: black;
    transition: 0.5s;
}

.video-button:hover {
    transition: 0.5s;
    background-color: skyblue;
}

/* hero end  */
/* head line start  */
.head-line {
    display: flex;
}

.head-line h1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

/* head line end  */
/* card start  */


.card-row-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 25px;

}

.card-row-1-first {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.course-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.card {
    width: 100%;
    cursor: pointer;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    color: black;
    box-shadow: 5px 5px 15px gray;
}

.card:hover {
    transition: 2s;
}

.status-image {
    padding: 12px;
    background-color: aliceblue;
    border-radius: 50%;
}

.card img {
    width: 30%;
    display: flex;
    margin: 10px auto;
}

.card p,
.card h3 {
    text-align: center;
}

.status-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 70px;
}

.status-card {
    background-color: #9cbbd0;
    padding: 15px;
    border-radius: 7px;
    cursor: pointer;

}

.status-card h3,
.status-card p {
    text-align: center;
}

.status-card img {
    margin: auto;
    display: flex;
    margin-bottom: 15px;
    margin-top: -50px;
}

.second-status {
    background-color: pink;
}

.third-status {
    background-color: lightgreen;
}

.status-container>div:nth-child(5) {
    background-color: lightgreen;
}

/* card end  */
/* second card star  */
.second-h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 45px;

}

.second-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.second-card img {
    width: 100%;
    height: 150px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.second-card .card-details {
    padding: 10px;
}

.second-card h3 {
    cursor: pointer;

}

.second-card p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: green;
    cursor: pointer;
}

.second-card i {
    color: yellow;
    cursor: pointer;
}

.second-card .card-details .btns {
    display: flex;
}

.second-card button {
    padding: 7px;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.dot {
    display: flex;
    color: blue;
    justify-content: center;
    margin-bottom: 50px;
}

.popular-card {
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* platform start  */
.platform-headig-container {
    background-color: #0d6efd;
    margin-bottom: 20px;

}

.platform-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.platform-details {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;

}

.platform-details p {
    margin-top: 10px;
    margin-bottom: 30px;
}

.platform-details button {
    cursor: pointer;
    color: #0d6efd;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.platform-img img {
    width: 100%;
    height: 270px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;

}

/* platform end  */

/* footer start  */
.footer-container {
    background-color: #00A34A;
    padding: 60px 45px;


}

.footer-container i {
    color: white;
    border: 1px solid wshite;
    padding: 7px;
    border-radius: 50%;


}

.footer-top-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-image {
    width: 30%;
}

.footer-desc {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.footer-container .icons {
    display: flex;
    gap: 15px;

}

.footer-content-company {
    color: white;
    margin-left: 55px;

}

.footer-content-company h4 {
    margin-bottom: 25px;
    border-bottom: 1px solid white;
}

.footer-content-company a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.footer-content-support {
    color: white;
    margin-left: 55px;

}

.footer-content-support h4 {
    margin-bottom: 25px;
    border-bottom: 1px solid white;
}

.footer-content-support a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.footer-content-address {
    color: white;
    margin-left: 55px;

}

.footer-content-address h4 {
    margin-bottom: 25px;
    border-bottom: 1px solid white;

}

.footer-content-address a {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 30px auto;
    display: flex;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    background-color: #00A34A;
    font-weight: bold;
}

/* footer end  */